/* Font families */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prozalibre/v5/LYjGdGHgj0k1DIQRyUEyyEoodNo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Basic style */
html {
  font-family: 'Proza Libre';
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 850px;
  margin: 0 auto;
  background-color: whitesmoke;
}

p,
li {
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Header section */
header {
display: flex;
justify-content: space-between;
align-items: center;
height: 5rem;
margin-bottom: 2rem;
}

ul {
  display: inline-flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  padding-right: 1rem;
}

/* About me section */
.about-me {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3rem;
}

.information {
  grid-column: 1 / span 2;
}

.pic {
  grid-column: 3 / span 1;
  padding-top: 1rem;
  padding-left: 2.5rem;
}

.pic img {
  height: 16.5rem;
  width: auto;
  border-radius: 15px;
}

/* Skills section */
.skills img {
  width: 50px;
  height: auto;
  padding-right: 0.4rem;
}

#css {
  width: 41px;
  height: auto;
}

/* Contact site */
.links {
  margin-left: 1rem;
}

.links img {
  width: 30px;
  height: auto;
  padding-right: 0.5rem;
}

#gmail {
  width: 40px;
  height: auto;
}